<div class="limiter">
  <div class="container-login100" >
    <div class="wrap-login100">
      
      <span class="login100-form-title p-b-41">
        Account Register
      </span>
      <form class="login100-form  example-form">
        <br><br>
        <mat-form-field class="wrap-input100" appearance="fill">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" >
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>

        <mat-form-field class="wrap-input100" appearance="fill">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" >
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field class="wrap-input100" appearance="fill">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" >
          <mat-icon matSuffix>visibility_off</mat-icon>
        </mat-form-field>

        <mat-form-field class=" wrap-input100" appearance="fill">
          <mat-label>Favorite food</mat-label>
          <input matInput  id="inputPassword" type="password">
          <button id="spanMostrar" matSuffix><i id="iconMostrar" class="material-icons mdc-text-field__icon">visibility</i></button>
        </mat-form-field>


        <div class="container-login100-form-btn m-t-32">
          <button class="login100-form-btn">
            Login
          </button>
        </div>
        <br><br>
      </form>

    </div>
  </div>
</div>
  